* {
    box-sizing: border-box;
}

body {
    margin: 0;

    font-family: Arial, sans-serif;

    background-color: #f4f4f4;

    text-align: center;
}

h1 {
    margin-top: 40px;
    font-size: 40px;
}



.placar {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 35px;

    margin-top: 20px;

    font-size: 25px;
    font-weight: bold;
}

.placar div {
    display: flex;
    align-items: center;

    gap: 10px;
}

.placar p {
    margin: 0;
}

.versus {
    font-size: 18px;
}


.x {
    color: #2196f3;
}

.o {
    color: #f44336;
}



.modo {
    margin-top: 25px;
}

.modo button {
    padding: 10px 20px;

    margin: 5px;

    border: none;
    border-radius: 8px;

    font-size: 15px;

    cursor: pointer;

    background-color: #ddd;

    transition: 0.2s;
}

.modo button:hover {
    background-color: #bbb;
}



#mensagem {
    margin-top: 25px;

    font-size: 22px;
    font-weight: bold;
}




.tabuleiro {
    display: grid;

    grid-template-columns: repeat(3, 100px);

    justify-content: center;

    margin-top: 25px;
}

.casa {
    width: 100px;
    height: 100px;

    border: 2px solid #222;

    display: flex;

    justify-content: center;
    align-items: center;

    font-size: 55px;
    font-weight: bold;

    cursor: pointer;

    background-color: white;

    transition: 0.2s;
}

.casa:hover {
    background-color: #eeeeee;
}




.casa.X {
    color: #2196f3;
}




.casa.O {
    color: #f44336;
}


.vencedora {
    background-color: #8cff98 !important;

    transform: scale(1.05);
}



#reiniciar {
    margin-top: 30px;

    padding: 12px 30px;

    border: none;
    border-radius: 8px;

    background-color: #222;
    color: white;

    font-size: 17px;

    cursor: pointer;

    transition: 0.2s;
}

#reiniciar:hover {
    transform: scale(1.05);

    background-color: #444;
}